header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  min-height: 8rem;
  text-align: center;

  h1 {
    font-size: 4rem;
  }

  .explanation {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3rem;
  }
}
